<h1>Goodbye!</h1>
<p>
  It was nice having you here.
</p>
<p>
  Math test 1 + 2 ... <%= 1 + 2 %>
</p>
<p>
  Concatenation test "cow" + "boy" ... <%= "cow" + "boy" %>
</p>
<p>
  Time in one hour test ... <%= 1.hour.from_now.localtime %>
</p>
<p>
  Say <%= link_to("Hello", say_hello_path) %>
</p>
